{% extends 'base.html' %}
{% block title %}
Inchirierile
{% endblock %}
{% block content %}

<style>
    .btn-delete{
    position:relative;
    left:15%;
    }
    .btn-buy{
    position:relative;
    left:14%;
    }
</style>

<div class="row" style="margin-top:20px; margin-left:20px">
       <h2>Istoricul inchirierilor</h2>
       <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">ID:</th>
               <th scope="col">Chirias:</th>
               <th scope="col">Numele terenului:</th>
                <th scope="col">Locatia:</th>
                <th scope="col">Inchiriat la data de:</th>
               <th scope="col">Incepand de la:</th>
                <th scope="col">Pana la:</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for rent in renting %}
            <tr>
               <td>{{ rent.id }}</td>
                <td>{{ rent.renter }}</td>
               <td>{{ rent.location_name }}</td>
               <td>{{ rent.location }}</td>
                <td>{{ rent.when_was_rented}}</td>
                <td>{{ rent.rent_start_time }}</td>
                <td>{{ rent.rent_end_time }}</td>

            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

{% endblock %}